.Footer {
  width: 100%;
  background-color: #10101b;
  padding: var(--oat-space-10);
}
@media screen and (max-width: 996px) {
  .Footer {
    padding: var(--oat-space-7);
  }
  .Footer ul {
    padding-left: 0;
  }
}

.Footer .content {
  max-width: 1600px;
  margin: auto;
  display: flex;
  flex-direction: row;
}

@media screen and (max-width: 996px) {
  .Footer .content {
    flex-direction: column;
  }
}

.Footer ul {
  list-style-type: none;
  margin-right: var(--oat-space-6);
}
.Footer li {
  margin-bottom: var(--oat-space-3);
}
.Footer li a {
  color: var(--oat-color-shadowed);
}
.Footer li a:hover {
  color: var(--ifm-color-primary);
}

.Footer .logo {
  margin-right: var(--oat-space-10);
  color: var(--oat-color-shadowed);
}

.Footer .logo img {
  margin-bottom: var(--oat-space-5);
}
