@keyframes fadeUp {
  from {
    opacity: 0;
    transform: translateY(10);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.AnimatedNotesContainer {
  width: 100%;
  display: flex;
  position: absolute;
  inset: 0;
  padding-top: 5rem;
  --row-height: 24px;
}

.AnimatedNotesContainer > div {
  width: 50%;
}

@media (max-width: 600px) {
  .AnimatedNotesContainer {
    --row-height: 20px;
  }
}

.DAWContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
}

.DAWRow {
  width: 100%;
  height: var(--row-height);
  display: flex;
  margin-bottom: 0.15rem;

  position: relative;
  overflow: hidden;
}

.DAWNote {
  position: absolute;
  top: 0;
  left: 0;

  text-align: right;
  color: #212529;
  font-weight: bold;
  font-size: 0.7rem;
  animation-name: fadeIn;
  animation-duration: 1s;
}

.TimelineRow::after {
  width: 100%;
  height: 1px;

  content: "";
  background: #657c47;
  position: absolute;
  inset: 16px;
  animation-name: fadeUp;
  animation-duration: 1s;
}

.TimelineKeyframe {
  width: var(--row-height);
  height: var(--row-height);

  position: absolute;
  top: 0;
  left: 0;
}

.TimelineKeyframe::after {
  width: 16px;
  height: 16px;

  content: "";
  transform: rotate(45deg);
  background: linear-gradient(90deg, #1098ad 0%, #22b8cf 100%);
  position: absolute;
  inset: 8px;
}
