.container {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: var(--oat-space-8) auto;
}

.textbox {
  flex: 1;
  padding-right: var(--oat-space-8);
}

.container img {
  flex: 1;
  width: 100%;
}

.textbox h2 {
  font-family: var(--oat-font-family);
  font-optical-sizing: auto;
  font-weight: var(--oat-font-weight-header);
  font-size: 72px;
  line-height: 100%;
}

.textbox li {
  font-family: var(--oat-font-family);
  font-optical-sizing: auto;
  font-weight: var(--oat-font-weight-text);
  font-size: 36px;
  line-height: 150%;
}
